body{
  background-image:url(image.jpg);
  background-repeat: no-repeat;
  opacity:50%;
  background-size:cover;
}
.navbar-inverse{
  background:#FF4500;
}
.head1{
  font-size:60px;
}
.p1{
  font-size: 40px;
}
